@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0.10;
    border: none;
}

body{
    font-family: roboto, sans-serif;
    font-weight: 400;
    background-color: #3a3a3a;
    color: aquamarine;
}

.mheading{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 300%;
    float: left;
    color: aqua;
}
.mheading:hover {
    text-decoration: none;
    color: rgb(245, 244, 248);
}
.navigator{
    letter-spacing: 3px;
    font-size: 150%;
}
.navigator li{
    margin-right: 30px;
    list-style-type: none;
    float: right;
    border: rgb(156, 222, 222);
    border-radius: 50%;
}
.navigator a{
    text-decoration: none;
    color: rgb(156, 222, 222);

}
a:hover {
    text-decoration: none;
    color: rgb(225, 10, 10);
}
.mheading, .navigator {
line-height: 60px;
}