@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color:#3a3a3a;
    color: gold;
    text-align: justify;
}
#head {
    width: 98%;
    padding-bottom: 1%;
    margin: auto;
}
/*the main heading*/
.mheading {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 300%;
    float: left;
    color: rgb(211, 190, 73);
}
.mheading:hover {
    text-decoration: none;
    color: rgb(245, 244, 248);
}
/*the navigation settings*/
.navigator {
    letter-spacing: 0.5px;
    font-size: 15px;
}

.navigator li {
    margin-right: 5px;
    list-style-type: none;
    float: right;
}
.navigator a {
    text-decoration: none;
    color: rgb(211, 190, 73);
    border: 2px solid rgb(245, 245, 245);
    border-radius: 10%;

}
a:hover {
    text-decoration: none;
    color: rgb(225, 10, 10);
}
.mheading, .navigator {
line-height: 20px;
}
/*the introduction picture*/
#bpic {
    background: url(image/may.webp) center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-size: cover;
    /*this is part of the zoom settings*/
    animation-name: bpiczoom;
    animation-duration: 10s;
    animation-fill-mode: backwards;
}
#zoomin {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: auto;
}
/*this create the zoom*/
    @keyframes bpiczoom {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.1);
        }
    }


/*the text area*/
#intro {
    font-size: 20px;
    text-justify: auto;
    margin-right: 80px;
    margin-left: 80px;
}

#intro h1 {
    font-size: 30px;
    text-align: center;
    text-decoration-line: underline;
}

/*the first trimester picture*/
#fpic {
    height: 500px;
    width: 100%;
    background: url(image/maybe.jpeg) no-repeat center center;
    background-blend-mode: lighten;
    background-size: cover;
    /*this is part of the zoom settings*/
    animation-name: fpiczoom;
    animation-duration: 10s;
    animation-fill-mode: backwards;
}
#fzoomin {
    width: 98%;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: auto;
    
}
/*this create the zoom*/
    @keyframes fpiczoom {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.1);
        }
    }
    /*first trimester words*/
    #fwords{
        font-size: 20px;
        text-justify: auto;
        margin-right: 80px;
        margin-left: 80px;
    }
    #fwords h1 {
        font-size: 30px;
        text-align: center;
        text-decoration-line: underline;
        text-transform: capitalize;

    }
    #fwords h2, h3 {
        font-size: 20px;
        text-align: left;
        text-decoration-line: underline;
        text-transform: capitalize;

    }
    /*first trimester pictures down*/
    #fpicsec {
        padding: 10px;
        position: relative;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 300px;
       
    }
    

   /*second trimester words*/
   #swords{
    font-size: 20px;
    text-justify: auto;
    margin-right: 80px;
    margin-left: 80px;
}
#swords h1 {
    font-size: 30px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: capitalize;

}
#swords h2, h3 {
    font-size: 20px;
    text-align: left;
    text-decoration-line: underline;
    text-transform: capitalize;

}
#sgif {
    background: url(image/2chan.webp) center;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    background-size: cover;
    
    /*this is part of the zoom settings*/
    animation-name: sgifzoom;
    animation-duration: 10s;
    animation-fill-mode: backwards;
}
#zoomin {
    width: 100%;
    height: 700px;
    overflow: hidden;
    margin: auto;
}
/*this create the zoom*/
    @keyframes sgifzoom {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.1);
        }
    }

/*third trimester words*/
#twords{
    font-size: 20px;
    text-justify: auto;
    margin-right: 80px;
    margin-left: 80px;
}
#twords h1 {
    font-size: 30px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: capitalize;

}
#twords h2, h3 {
    font-size: 20px;
    text-align: left;
    text-decoration-line: underline;
    text-transform: capitalize;

}
#tpic {
    background: url(image/ttttrrtr.png) no-repeat center;
    height: 450px;
    width: 98%;
    background-size: cover;
    /*this is part of the zoom settings*/
    animation-name: tpiczoom;
    animation-duration: 10s;
    animation-fill-mode: backwards;
}

#tzoomin {
    height: 450px;
    width: 100%;
    overflow: hidden;
}   
/*this create the zoom*/
@keyframes tpiczoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/*the contact picture*/
#cpic {
    background: url(image/smi.jpeg) no-repeat center;
    height: 400px;
    width: 100%;
    filter: blur(3px);
    background-size: cover;
    
    /*this is part of the zoom settings*/
    animation-name: cpiczoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}
#czoomin {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

/*the text for contact area*/
#contt {
    font-size: 20px;
    text-justify: auto;
    padding-bottom: 300px;
}
#contt h1 {
    font-size: 30px;
    text-align: center;
    text-decoration-line: underline;
    
}

/*the text registration area*/
#regform{
    font-size: 30px;
    text-justify: auto;
    max-width: 800px;
}
#regform h1 {
    font-size: 40px;
    text-align: left;
    text-decoration-line: underline;
    right: 40px;
}
#regform {
    margin: 10px 10% 0 0;
    color: rgb(37, 20, 223);
    left: 5%;
    padding-left: 30px;
    padding-top: 20px;
}
#regform {
    margin-top: 200px;
}
/*the registration picture*/

#regform {
    background-image: url(image/sle.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    mix-blend-mode: lighten;
}

#regpp{
    align-items: center;
}
/*the footer area*/
.down {
    width: 98%;
    margin: auto;
}

footer {
    background-color: rgb(145, 4, 145);
    padding: 0.1em;
    text-align: left;
}

footer > span {
    color: white;
}

footer > a {
    color: #fff;
    text-decoration: none;
    padding: 0 25px;
    font-size: 1rem;
}

footer > p {
    color: #fff;
    font-size: 10px;
    text-align: right;
}

#photos {
    column-count: 3;
}
/*small screen size*/
@media all and (max-width: 500px) {
    body{
        font-weight: 200;
    }
   
    .navigator{
        letter-spacing: 0.2px;
        font-size: 7px;
    }
    
    .navigator li{
        margin-left: 5px;
        list-style-type: none;
        float: left;
        position: relative;
        display:inline-block;
    }
    .navigator a{
        text-decoration: none;
        color: rgb(211, 190, 73);
        border: 1px solid rgb(245, 245, 245);
        border-radius: 10%;
    
    }
    #swords h2, h3 {
        font-size: 17px;
        text-align: left;
        text-decoration-line: underline;
        text-transform: capitalize;
    }
    #swords h1 {
        font-size: 20px;

    }
    #swords {
        font-size: 13px;
    }
    footer > a {
        color: #fff;
        text-decoration: none;
        padding: 0 10px;
        font-size: 0.7rem;
        text-align: center;
    }
    
    footer > p {
        font-size: 0.7rem;
    } 
    footer span {
        font-size: 10px;
    }

    /*the main heading*/
    .mheading{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 150%;
    }
    #bpic {
        background: url(image/may.webp) center;
        background-repeat: no-repeat;
        height: 200px;
        width: 100%;
        background-size: cover;
 
    }
    #zoomin {
        width: 100%;
        height: 200px;
        overflow: hidden;
        margin: auto;
    }
       
    #fpic {
        height: 300px;
    }
    #fpicsec {

        margin-left: 10px;
       
    }
    /*footer media q*/
    footer {
    background-color: purple;
    padding: 0.1rem;
    text-align: left;
}

/*introduction media q*/
#intro {
    font-size: 10px;
    text-justify: auto;
    justify-content: center;
    margin-right: 2px;
    margin-left: 2px;
}
#intro h1 {
    font-size: 20px;
}
/*first trimester q*/
#fwords h1 {
    font-size: 20px;
}
#fwords {
    font-size: 17px;
    text-justify: auto;
    margin-right: 50px;
    margin-left: 50px;
}

}